<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.absensi.apps">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppsAbsensi"
        tools:ignore="AllowBackup">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.absensi.apps.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activity.AbsenActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".activity.IzinActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".activity.KegiatanActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".activity.LemburActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".activity.HistoryActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".activity.RiwayatAbsenActivity"
            android:parentActivityName=".activity.HistoryActivity" />
        <activity
            android:name=".activity.RiwayatKegiatanActivity"
            android:parentActivityName=".activity.HistoryActivity" />
        <activity
            android:name=".activity.RiwayatLemburActivity"
            android:parentActivityName=".activity.HistoryActivity"/>
        <activity
            android:name=".activity.RiwayatIzinActivity"
            android:parentActivityName=".activity.HistoryActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".activity.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>